/* googol font "work sans" set up */
*{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color:#ff42a5;
    --secondary-color:#4ec5f7;
    --text-color:#534c64;
    --background-color:#fff9fc;
    --nav-social-icon-color:#e7e6e9;
    --white-color:#fff;
    --footer-color:#0b0223;
   
}

/* text related style */

span{
    color: var(--primary-color);
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, var(--primary-color),#a055e4);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.section-title{
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0;
}

.text-primary{
    color: var(--text-color);
}

.text-secondary{
    color: var(--text-color);
    font-size: 1.5rem;
}

.text-semi-bold{
    font-weight: 600;
    color: var(--text-color);
    margin: 10px;
    color: var(--white-color);

}
/* button related style */
.btn-primary{
    background: var(--primary-color);
    color:var(--white-color);
    padding: .8rem 1.5rem;
    font-weight: 500;
    border-radius: 2rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;

}
.btn-secondary{
    background: var(--secondary-color);
    color:var(--white-color);
    padding: .8rem 1.5rem;
    font-weight: 500;
    border-radius: 2rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;

}
.btn-third{
    background: var(--white-color);
    color:var(--primary-color);
    padding: .8rem 1.5rem;
    font-weight: 500;
    border-radius: 2rem;
    font-size: 1rem;
    border: none;

    margin-top: 3rem;
    cursor: pointer;

}




/* main section related css style start here */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}

.icon{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.our-info{
    cursor: pointer;
}
.our-social i{
    cursor: pointer;
}
.icon img{
    height: 1.5rem;
}
.icon-logo{
    font-weight: 700;
    font-size: 2.5rem;
}
#G{
    color: var(--primary-color);
    margin: 0;
}
.navigation{
    display: flex;
    align-items: center;
    gap: 1rem;

}
.our-info{
    display: flex;
    align-items: center;
    gap: 2rem;

}

.our-social{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--nav-social-icon-color);
    padding:.2rem 1.5rem;
    border-radius: 5px;
}

/* banner section */


.goat{
    font-weight: 800;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;


    background: linear-gradient(180deg, var(--primary-color),#a055e4);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.buttons{
    display:flex;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.banner-text-container{
    min-width: 900px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40rem;
}

.banner-img{
    padding-right: 40rem;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    margin-top: 5rem;
}

/*we are gamer section */
.we-are-gamer{
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    align-items: center;

}


.gamer-dialog{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-top: 0;
}
.gamer-text-container{
    text-align: right;
}
.gamer-text-container{
    width: 33rem;
}

/* online game section */

.text-hover{
    position: relative;
    bottom: 50%;
    color: var(--primary-color);
    text-align: center;
    width: 340px;
    height: 100%;
    opacity: 0;
}

.online-game{
    margin-top: 6rem;
}
.card{
    width: 340px;
    cursor: pointer;

}
.online-game-card-img{
    margin: 1rem;
}

.online-game-card-img:hover{
    border: 5px solid var(--primary-color);
    border-radius: 1.5rem;
    opacity:0.6;
    background: var(--black-color);
    margin: .5rem;
}


.online-game-card{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.online-game-text{
    text-align: center;

}


/* online play section start (1st section*/
.play-online{
    margin-top: 8rem;
    display: flex;
    padding-left: 25rem;
    align-items: center;
}

.play-online-text h2{
    width: 250px;
    text-align: right;
    padding-left: 50px;
}
.play-online-text p{
    text-align: right;
        width: 300px;

}
#play-online-img-relative{
    position: relative;
   left: 200px;
    top: 100px;
}
     

/*play game online  section start (2st section*/
.play-game-online{
    margin-top: 15rem;
    display: flex;
    padding-left: 15rem;
    align-items: center;
}

.play-game-online-text h2{
    width: 250px;
    text-align: left;
    padding-right: 50px;
}
.play-game-online-text p{
    text-align: left;
        width: 300px;

}
#play-game-online-img-relative{
    position: relative;
   right: 200px;
    top: 100px;
}

/* careers section start here */
.carrears-section-title{
    font-weight: 600;
    font-size: 2rem;
}

.careers{
    display: flex;
    padding-left:100px;
    margin-top: 100px;
    align-items: center;
    background: var(--primary-color);
    color: var(--white-color);
  
}
.careers-option{
    display: flex;
}
.careers-aim{
    width: 400px;
}
.careers-location{
    text-align: right;
}

.careeres-discription{
    color: var(--white-color);

}
     
.careers-text-container{
    margin-left: 100px;

}

/*  game type related css style */
.game-type{
    margin: 100px 200px;
}

.game-type-div{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
    justify-content: center;
}

.game-card{
    display: flex;
    gap: .5rem;
    padding: 1rem;

}
.game-card:hover{
    border: 2px solid var(--primary-color);
    border-radius: 10rem;
    padding: .5rem;
}



/* footer section start */
footer{
    display: grid;
    background: var(--footer-color);
    padding: 2rem;
}

#footer-logo{
    color: var(--white-color);
    font-weight: 700;
    font-size: 2.5rem;
}
.icon-footer{
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.website-feature ul{
    display: flex;
    color: var(--white-color);
    list-style: none;
    justify-content: center;
    gap: 2rem;
}
.website-feature li{ 
    text-decoration: none;

}
.footer-social-icon{
    display: flex;
    gap: 1rem;
    justify-content: center;

}
.website-security{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.website-copyright{
    display: flex;
    justify-content: center;
}


















@media screen and(max-width:576px) {
    /* nav section */

    nav{
        align-items: center;
        flex-direction: column;
        padding: 2rem 1rem;
        margin-bottom: 4rem;
    }
    .navigation{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    
    }
    /* banner sectin */
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
        margin-top: .5rem;
    }
    /*we are gamer section */
    .we-are-gamer{
        flex-direction: column;
        justify-content: center;
        background-color: var(--background-color);
        align-items: center;
    
    }
    /* online game card */
    .online-game-card{
        display: grid;
        grid-template-columns: repeat(1);
        justify-content: center;
    }   
    /* play online game 1st relative img */
    .play-game-online{
        margin-top: 2rem;
        flex-direction: column-reverse;
        padding-left: 0;
        align-items: center;
        margin: 5rem 0;
    }
        /* play online game  2nd relative img */

        .play-game-online{
            margin-top: 2rem;
            flex-direction: column;
            padding-left: 0;
            align-items: center;
            margin: 5rem 0;
        }
        /* careers section */
        .careers{
            flex-direction: column;
            padding-left:0;
            margin-top: 0;
            align-items: center;
            background: var(--primary-color);
            color: var(--white-color);
          
        }
        /* game type section */
        .game-type-div{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: .5rem;
            justify-content: center;
        }
        .website-feature ul{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            color: var(--white-color);
            list-style: none;
            justify-content: center;
            gap: 2rem;
        }

        .footer-social-icon{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1rem;
            justify-content: center;
        
        }
        .website-security{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
            gap: 1rem;
        }

}